{% extends 'base.html' %}
{% block title %}Сменить пароль{% endblock %}
{% block content %}

<div class="container mt-5 form-signin w-100 m-auto">
<form method="post">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Изменить пароль</h1>
    <p>Пожалуйста, в целях безопасности введите свой старый пароль, а затем дважды введите новый, чтобы мы могли убедиться, что вы ввели его правильно.</p>
        {{form.old_password.errors}}
    <div class="form-floating">
      <input type="password" class="form-control" name="old_password" id="id_old_password">
      <label for="id_old_password">Старый пароль</label>
    </div>
    {{form.new_password1.errors}}
        <div class="form-floating">
      <input type="password" class="form-control" name="new_password1" id="id_new_password1">
      <label for="id_new_password1">Новый пароль</label>
    </div>
    {{form.new_password2.errors}}
        <div class="form-floating">
      <input type="password" class="form-control" name="new_password2" id="id_new_password2">
      <label for="id_new_password2">Подтвердите пароль</label>
    </div>
    <button class="mt-3 btn btn-primary w-100 py-2" type="submit">Изменить</button>
  </form>
</div>
{% endblock %}

<script>

    // Initialization for ES Users
import { Input, Ripple, initMDB } from "mdb-ui-kit";

initMDB({ Input, Ripple });
</script>