<p>Dear {{ user.username }},</p>

<p>To initiate the password reset process for your {{ user.email }} account, please click the link below:</p>

<p><a href="{{ protocol }}://{{ domain }}{% url 'data_parser:password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'data_parser:password_reset_confirm' uidb64=uid token=token %}</a></p>

<p>If clicking the link above doesn't work, please copy and paste the URL into a new browser window instead.</p>

<p>Best regards,<br>
Sevastsyan Matusevich</p>