{% extends 'base.html' %}
{% block title %}Сброс пароля{% endblock %}
{% block nav %}
{% endblock %}
{% block content %}

<div class="container mt-5 form-signin w-100 m-auto">
    <h1 class="h3 mb-3 fw-normal">Отправлено письмо с инструкцией по сбросу пароля</h1>
    <p>
        Мы отправили вам по электронной почте инструкции по установке пароля, если у вас есть учетная запись с указанным вами адресом электронной почты. Вы должны получить их в ближайшее время.
    </p>
    <p>Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы указали адрес, на который указывали при регистрации, и проверьте папку со спамом.</p>
</div>
{% endblock %}

<script>

    // Initialization for ES Users
import { Input, Ripple, initMDB } from "mdb-ui-kit";

initMDB({ Input, Ripple });
</script>